
body {
    background-color: rgb(252, 255, 47);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:black;
    font-family: "Dancing Script", cursive;
    font-size: 32px;
}

h2 {
    color:red;
    font-size: 32px;
}
p {
    font-size:x-large;
}


h3 {font-size: 24px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.item2 {
    width: 100px;
    height: 5000px;
    color:red;
    animation-name: cambiarColor;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    padding:10px;
}

@keyframes cambiarColor {
    0% {background: rgb(252, 255, 47); height: 0%;}        
    50% {background: rgb(219, 187, 6); height: 50%;}     
    100% {background: orange; height: 95%;}
}


.item4 {
    width: 100px;
    height:95%;
    color:red;
    padding:10px;
    border-color: black;
    border-style: solid;
   
}

.item1 {grid-area: header;}
.item2 {grid-area: left;}
.item3 {grid-area: main;}
.item4 {grid-area: right;}
.item5 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template: 300px 1fr 300px / 120px 1fr 120px;
    grid-template-areas: 
        'header header header' 
        'left main right'
        'footer footer footer';
    grid-gap: 10px;
    background-color:rgb(252, 255, 47);
    padding: 10px;
    
}

.grid-container>div {
    background-color: rgb(252, 255, 47);
    text-align: center;
    padding: 10px;
    font-size: 24px;
}