body {
    background-color: rgb(252, 255, 47);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:black;
    font-family: "Dancing Script", cursive;
    font-size: 32px;
}


h2 {
    color:red;
    font-size: 24px;
}
p {
    font-size:x-large;
}

h3 {font-size:medium;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 20px;
    color: Black;
    background-color:rgb(25, 236, 106);
    border-radius: 5px;
    border: 2px solid #303030;
    padding: 5px;
    margin: 6px
}
